<div id="columna1">
    <div>
    <button id="abrir" class="abrir-menu"><i class="bi bi-list"></i></button>
    <nav id="nav" class="nav">
      <button class="cerrar-menu" id="cerrar"><i class="bi bi-x"></i></button>
    <ul class="botones-columna1">
      <li><a href="/proyecto/view/Votante/inicio.php">inicio</a></li>
      <!-- <li><a href="../view/rol.php">roles</a></li> -->
      <li><a href="/proyecto/view/Administrador/BuscarUrna.php">buscar urnas</a></li>
      <!-- <li><a href="/proyecto/view/Administrador/crearUrna.php">crear urna</a></li> -->
      <li><a href="">consultar resultados</a></li>
      <li><a href="/proyecto/view/Administrador/perfil.php">perfil</a></li>
      <li><a  id="cerrarsesion" class="btn bnt-primary" onclick="return exito()" style ="cursor:pointer">Cerrar Sesión</a></li>
      <li></li>

    </ul>
  </nav>

  </div>



  <script src="../../view/js/exito.js"></script>
  